* {
    background: #9caf88;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    color: #333d29;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.lower-title {
    text-align: center;
    font-size: 32px;
}

/* Header Styles Start */
header {
    background-color: #9caf88;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    color: black;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
/* Header Styles End */

/* About Me Styles Start */
.about-me {
    margin: 3px;
    padding: 3px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #ccd6c2;
}

#profile-img {
    width: 10%;
    margin: 3.5%
}

.about-me article {
    width: 55%;
    text-align: left;
    margin: 3.5%;
    line-height: 1.2;
    background-color: #ccd6c2;
}

.about-me h2 {
    background-color: #ccd6c2;
    font-style: italic;
}

.about-me p {
    background-color: #ccd6c2;
    font-size: 20px;
}
/* About Me Styles End */

/* About My Work Styles Start */
.first-image {
    position: relative;
    color: black;
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.first-image img {
    width: 100%;
}

.first-image img a {
    background: none;
}

.lower-images {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.application-image {
    position: relative;
    color: black;
    margin: 20px;
    flex: 1;
}

.application-image img {
    width: 100%;
}
/* About Me Styles End */

/* Contact Info Styles Start */
.contact-info {
    background-color: #ccd6c2;
}

.contact-info h2 {
    background-color: #ccd6c2;
}

.contact-info address {
    background-color: #ccd6c2;
    text-align: center;
}

.contact-info address a {
    background-color: #ccd6c2;
}

/* Contact Info Styles End */

/* Footer Styles Start */
.footer {
    background-color: #9caf88;
}

/* Footer Styles End */